.book{
    font-family: 'Bree Serif', serif;
    font-family: 'Pacifico', cursive;
    margin-top: 150px;
}
.book_list{
    display: flex;
    flex-wrap: wrap;
}
.books{
    margin: 10px 0px 30px 80px;
    padding: 15px 0px 15px 15px;
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgb(208, 208, 208);
}
.btn{
    background-color: #019875;
    color: white;
    border: 1px solid #019875;
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 4px;
}
.btn:hover{
    background-color: white;
    border: 1px solid #019875;
    color: #019875;
}
.btn1{
    background-color: rgb(245, 52, 52);
    color: white;
    border: 1px solid rgb(245, 52, 52);
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 4px;
    margin-left: 50px;
}
.btn1:hover{
    background-color: white;
    border: 1px solid rgb(245, 52, 52);
    color: rgb(245, 52, 52);
}
.book_details{
    width: 260px;
}
.book h1{
    font-size: 40px;
    margin-top: 0px;
}
.title{
 font-weight:700;
 font-size: 18px;
 margin-bottom: 10px;
}
#titly{
    height: 80px;
}