.users{
    font-family: 'Bree Serif', serif;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0px;
    margin-top: 160px;
}
.adduser{
    background-color: #019875;
    color: white;
    border: 1px solid #019875;
    padding: 2px 4px;
    font-size: 16px;
    border-radius: 4px;
}
.adduser:hover{
    border: 1px solid #019875;
    background-color: white;
    color:#019875;
}
.deleteuser{
    background-color:red;
    color: white;
    border: 1px solid red;
    padding: 2px 4px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 20px;
}
.deleteuser:hover{
    border: 1px solid red;
    background-color: white;
    color: red;
}
.user1{
    margin-left: 20px;
}
.userdetails p{
    font-size: 16px;
}
.userdetails{
    margin-top: 0px;
}